spring:
  application:
    name: batch-processing-kafka-streams
  kafka:
    bootstrap-servers: localhost:9092
    streams:
      application-id: data-record-processor
      state-dir: ${USERPROFILE}\kafka-local-state
      application.server: ${spring.cloud.client.ip-address}:${server.port}
