spring:
  application:
    name: batch-processing-kafka-streams
  kafka:
    bootstrap-servers: localhost:9092
    streams:
      application-id: record-processor
      state-dir: ${USERPROFILE}\kafka-local-state
      properties:
        application.server: localhost:${server.port}

server:
  port: 7071
