spring:
  application:
    name: batch-processing-kafka-streams
  cloud:
    function:
      definition: recordUpdater
    stream:
      bindings:
        recordUpdater-in-0:
          destination: messageTopic
      kafka:
        streams:
          binder:
            functions:
              recordUpdater.applicationId: record-updater
            configuration:
              state.dir: ${USERPROFILE}\kafka-local-state
              default:
                key:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
                value:
                  serde: org.springframework.kafka.support.serializer.JacksonJsonSerde
              spring:
                json:
                  value:
                    default:
                      type: com.anupambasak.dtos.DataRecord
                  header:
                    type:
                      id: recordType
                  type:
                    mapping: metadata:com.anupambasak.dtos.MetadataRecord,data:com.anupambasak.dtos.DataRecord
            brokers: "localhost:9092"

app:
  kafka:
    streams:
      cleanup-on-start: true
      cleanup-on-stop: false